<a th:href="@{/menu}">MENU</a></a> <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
<a th:href="@{/drinks}">LIST DRINKS</a> <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
<a th:href="@{/cocktails}">LIST COCKTAILS</a> <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
<a th:href="@{/newdrink}">CREATE DRINK</a> <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
<a th:href="@{/newcocktail}">CREATE COCKTAIL</a> <a>&nbsp;|</a>
<br>
<label>_________________________________________________________________________________|</label>
<br>
<h1>Are you sure you want to delete <span th:text="${cocktail_name}" th:remove="tag">cocktail name</span>?</h1>
<form th:action="@{/cocktails/__${cocktail_id}__/deletecocktail}" method="post">
    <button type="submit"> Delete </button>
</form>
<a th:href="@{/cocktails}">
    <button> Cancel </button>
</a>