<a th:href="@{/menu}">MENU</a></a> <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
<a th:href="@{/drinks}">LIST DRINKS</a> <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
<a th:href="@{/cocktails}">LIST COCKTAILS</a> <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
<a th:href="@{/newdrink}">CREATE DRINK</a> <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
<a th:href="@{/newcocktail}">CREATE COCKTAIL</a> <a>&nbsp;|</a>
<br>
<label>_________________________________________________________________________________|</label>
<br>
<h1>Are you sure you want to delete <span th:text="${drink_name}" th:remove="tag">drink name</span>?</h1>
<form th:action="@{/drinks/__${drink_id}__/deletedrink}" method="post">
    <button type="submit"> Delete </button>
</form>
<a th:href="@{/drinks}">
    <button> Cancel </button>
</a>
<br>
<label th:text="${result}"></label>