<a th:href="@{/menu}">MENU</a></a> <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
<a th:href="@{/drinks}">LIST DRINKS</a> <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
<a th:href="@{/cocktails}">LIST COCKTAILS</a> <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
<a th:href="@{/newdrink}">CREATE DRINK</a> <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
<a th:href="@{/newcocktail}">CREATE COCKTAIL</a> <a>&nbsp;|</a>
<br>
<label>_________________________________________________________________________________|</label>
<br>
<form th:action="@{/drinks/__${drink_id}__/savedrink}" th:object="${drink}" method="post">
    <label>New name</label>
    <input type="text" th:field="${drink.name}">
    <br>
    <label>New quantity</label>
    <input type="text" th:field="${drink.quantity}">
    <br>
    <label>New image URL</label>
    <input type="text" th:field="${drink.image_url}">
    <br>
    <label th:text="${result}"></label>
    <br>
    <button type="submit">Create drink</button>
</form>