<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1> Drink features </h1>
    <a th:href="@{/drinks}">
        <button> List all drinks </button>
    </a>
    <br>
    <a th:href="@{/newdrink}">
        <button> Create drink </button>
    </a>
    <br>
    <h1> Cocktail features </h1>
    <a th:href="@{/cocktails}">
        <button> List cocktails </button>
    </a>
    <br>
    <a th:href="@{/newcocktail.html}">
        <button> Create cocktail </button>
    </a>
    <br>
</body>
</html>